a {
    font-weight: 400;
}

li.subLeft {
    background-image: none !important;
    list-style: outside none none;
    margin: 0 !important;
    padding: 10px 0 10px 0px !important;
    font-size: 20px !important;
    color: #000 !important;
    text-transform: uppercase;
}

li.sidenav-mobile-view-parent {
    background-image: none !important;
    list-style: outside none none;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 20px !important;
    color: #000 !important;
    text-transform: uppercase;
    background-color: #FFF;
    text-align: center !important;
}


span.sidenav-mobile-view-heading {
    background-color: transparent !important;
    color: #000 !important;
    display: inline-block !important;
    margin-left: 0 !important;
    text-shadow: none !important;
    text-decoration: none !important;
    padding: 5px !important;
    text-transform: uppercase !important;
    font-size: 16px !important;
}

span.side-nav-mobile-view-unselected-item {
    color: #222222 !important;
    display: block;
    font-size: 16px !important;
    padding: 0 !important;
    text-decoration: none !important;
    text-transform: capitalize !important;
    text-shadow: none !important;
    padding: 4px 0px 4px 5px !important;
}

a.sidenav-mobile-view-parent-a {
    background-color: #938c6f;
}


span.side-nav-mobile-view-selected-item {
    color: #006a3c !important;
    display: block;
    font-size: 16px !important;
    padding: 4px 0 4px 4px !important;
    text-decoration: none;
    text-shadow: none;
    text-transform: capitalize!important;
    font-weight: bold !important;
}


li.sidenav-mobile-view-parent i {
    display: inline-block;
    color: #000 !important;
    font-size: 20px !important;
    margin: 0 !important;
    padding: 10px !important;
    font-weight: normal;
    float: inherit !important;
/*    position: relative;
    top: -37px;
    background-color: #004829;
    left: -3px; */

}



.sidenav-mobile-view-ul {
  margin: 0 !important;
}

.sidenav-mobile-view-children {
    margin: 0 !important;
}

.sidenav-mobile-view-children .subLeft > a {
  display: block;
  padding: 3px !important;
}

.sidenav-mobile-view-selected-heading {
    color: #fff !important;
    display: block !important;
    margin-left: 0 !important;
    text-shadow: none !important;
    text-decoration: none !important;
    background-color: #036e3c;
    padding: 10px 0 10px 12px !important;
    text-transform: capitalize;
    font-size: 14px;
}

.sidenav-mobile-down-img {
    background: url("../../images/side-navigation/down.png");
    width: 14px !important;
    height: 16px !important;
    position: relative;
    top: -30px;
    right: 15px;
    float:right;
}

.sidenav-mobile-up-img {
    background: url("../../images/side-navigation/up.png");
    width: 14px !important;
    height: 16px;
    float: right;
    position: relative;
    top: -30px;
    right: 15px;
}

#sidenav-mob-ul li {
    border-bottom: 1px solid #e5e5e5 !important;
}


.sidenav-mobile-view-parent a {
    background-color: transparent !important;
}


.sidenav-mobile-view-div .sidenav-mobile-view-ul ul li a {
    background-color: #fff !important;
}
