/* New Fix */
#NewStyle tr td {
    padding: 5px 0;
}
#NewStyle #ccSave {
    background: $color-primary-darker;
    border: 0;
    padding: 8px;
	color: $Light-fontColor;
}
#NewStyle #cancel {
    background: #b30606;
    border: 0;
    padding: 8px;
    color: #fff;
}

.additionalReservations table, tr, td{
	vertical-align: middle !important;
}
div#addAnotherReservationButtonDIV {
    margin: 0 0 10px 0;
}
div#Add_To_Cart_DIV {
    margin: 0 0 10px 0;
}
.ItemSelectionGuestHeading {
	color: #000 !important;
}

div[aria-describedby="showModalDialogDiv"] {
    top: 0 !important;
}

/* MT#0150980: change color of buttons on event screen */
#main .btn-success + .btn-primary {
    background-color: #3279b5 !important;
    border: 0px;
}

/* MT#0150980: change color of buttons on event screen */
#main .btn-success + .btn-primary {
    background-color: #221F72 !important;
    border: 0px;
}
#main .btn-success + .btn-primary + .btn-warning {
    background-color: #eeeded !important;
    color: #464646;
    border:0;
}

/* MT#0150469: 3 changes on event pop up */
div#showModalDialogDiv {
    height: 650px !important;
}
#Add_To_Cart_DIV input{
    background-color: $color-primary-darker !important;
}
/* .ui-dialog-titlebar + #showModalDialogDiv {
    height: 650px !important;
} */
/* End */
#resDetailRowTotal0_0 {
/*   color: white !important; */
}

.GuestItemLabel div span{
/* 	color: white !important; */
}

#resDetailRowTotalContainer0_0 > span {
/*   color: white !important; */
}

.epReservationListButton{
background: none repeat scroll 0 0 #b0b0b0 !important;
border: medium none !important;
border-radius: 5px!important;
box-shadow: 0 0 2px #ffffff, 0 0 1px #000000 inset !important;
color: #000000 !important;
font-family: $default-font-family;
font-size: 12px !important;
font-weight: bold !important;
padding: 4px 12px !important;
text-align: center !important;
text-decoration: none !important;
}

.popoverContainerItemSummary {
	padding: 8px 8px 8px 8px !important;
	width: 282px !important;
	margin: 5px 0px 0px -250px !important;
	background: black !important;
	height: auto !important;
	background-repeat: no-repeat !important;
}

.popover.popoverItemSummary {
  background-color: #000 !important;
  box-shadow: none;
}

.homeHeading {
  color: #000;
  font-size: 20px !important;
  font-weight: bold;
  height: 30px !important;
  list-style-type: none;
  margin: 0 auto 30px;
  padding: 7px 10px 0 !important;
  position: relative;
}
.reservationStatus{
	font-family: $default-font-family;
  	font-size: 11px;
  	font-weight: bold;
}
.seatingTimeBg {
	height: 45px;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;	
	padding: 3px;
	position: relative;
	background: $color-primary-darker;
	color: #ffffff;
}


.selectSeating textinput {
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	box-shadow: 0 0 2px #888888;
	font-size: 14px;
	font-family: $default-font-family;
	height: 30px;
	outline: medium none;
	padding: 5px;
	width: 100%;
}

#menu_wrap {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 0 10px 0 0;
  position: relative;
  list-style:none;
	
}

.adultsSpan {
  font-family: $default-font-family;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.fontClass { 
  font-family: $default-font-family;
  font-size: 14px;
}


.dropdownHeadCountItems {
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	font-size: 12px;
	font-family: $default-font-family;
	height: 30px;
	outline: medium none;
	padding: 5px;
	width: auto;
	margin-top: 6px;
}

.multiSelect {
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	box-shadow: 0 0 2px #888888;
	font-size: 12px;
	font-family: $default-font-family;
	height: 18px;
	outline: medium none;
	padding: 5px;
	width: 233px;
	margin-top: 6px;
}
.inputTextBox {
	border: 1px solid #DDDDDD !important;
	border-radius: 5px !important;
	box-shadow: 0 0 2px #888888;
	font-size: 12px !important;
	font-family: $default-font-family;
	height: 18px;
	outline: medium none;
	padding: 5px 1px !important;
	width: auto;
	margin-top: 6px;
	background-image:none !important;
}

.multiSelectOptions {
	width:235px;
	 }
	 
.editarea { 
	border: 1px solid #DDDDDD;
	box-shadow: 0 0 2px #888888;
	color: #000000;
	float: left;
	outline: medium none;
	padding: 5px 0 0 10px;
	background-image:none;
}


#childrenSpan {
  font-size: 14px;
  font-family: $default-font-family;
}

.agree {
  font-family: $default-font-family;
  font-size: 14px;
  letter-spacing: normal !important;
  text-transform: capitalize;
  line-height: 22px;
}

.agree a {
  background-color: #ddddd2;
  border-radius: 4px;
  color: #000000;
  padding: 5px 10px;
}

.available-label {
  font-family: $default-font-family;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.label-custom {
  font-size: 12px;
  font-family: $default-font-family;
}

.availableSeats {
  background: none repeat scroll 0 0 #000;
  border: medium none;
  color: #ffffff;
  font-weight: bold;
  padding: 2px 12px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;
}

.table-margins {
  margin-left: 12px;
  margin-top: 2px;
  padding-top: 2px;
}

#ysearchinputmemberId_Reservation{
	margin-top:-7px !important;
}

.ysearchinput {
	border: 1px solid #DDDDDD !important;
    border-radius: 5px;
    box-shadow: 0 0 2px #888888 !important;
    color: #666666 !important;
    float: left;
    outline: medium none;
    width: 93% !important;
    height: 28px !important;
    min-height: 25px !important;
    margin-top: 0;
    text-align: left !important;
    padding-right: 16px;
    padding-left: 5px;
}




.ysearchinputDisabled {

	border: 1px solid #DDDDDD !important;
	border-radius: 5px;
	box-shadow: 0 0 2px #888888 !important;
	color: #666666 !important;
	float: left;
	outline: medium none;
	width: 93% !important;
	height: 25px !important;
	margin-top: -2px;
	text-align: left !important;
	padding-right: 16px;

}



.ysearchinputOther {
	border: 1px solid #DDDDDD !important;
	border-radius: 5px;
	box-shadow: 0 0 2px #888888 !important;
	color: #666666 !important;
	float: left;
	outline: medium none;
	width: 93% !important;
	height: 25px !important;
	margin-top: -2px;
	text-align: left !important;
	padding-right: 16px;
}


.noleftBorder {
border: 0 none !important;
/* color: #fff; */
height: 45px;
	
}

.partyof { 
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	box-shadow: 0 0 2px #888888;
	color: #666666;
	float: left;
	outline: medium none;
	background-image:none !important;
}

.adultsSpanEvent {
  font-family: $default-font-family;
  font-size: 14px;
  text-transform: uppercase;
}
.availableTotals {
    background: none repeat scroll 0 0 #ffffff;
    color: #4a4a4a;
    border: 1px solid #828282;
}
.buttonEM {
  background: $color-primary !important;
  box-shadow: 0 0 2px #ffffff, 0 0 1px #000000 inset;
  color: #fff !important;
  cursor: pointer !important;
  font-weight: lighter;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  font-size:12px !important;
}

.buttonEM:hover {
  background-color: #000 !important;
}

.button {
  background: none repeat scroll 0 0 #b9bfbf !important;
  border: medium none;
   color: #000000 !important;
   font-size: 12px;
  font-weight: bold;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
}

.buttonDisable {
	background: none repeat scroll 0 0 #B0B0B0 !important;
	border: medium none;
	border-radius: 5px;
	box-shadow: 0 0 2px #FFFFFF, 0 0 1px #000000 inset;
	color: #6B6B6B !important;
	font-size: 12px;
	font-weight:bold;
	font-family: $default-font-family;
	padding: 4px 12px;
	text-align: center;
	text-decoration: none;
	background-image:none !important;
}

.reservationTable {

}

.reservationsHeadings {
	background :none !important;
	color: #000000 !important;
	border: 0px;
	text-align: center;
}
.reservationsMainHeadings {
	background :none !important;
	color: #000;
	border: 0px;
	border-bottom:1px solid #FF0000;
	text-align: center;
}

.reservationsTotal {
	background :none !important;
	color: #000;
	border: 0px;
	border-bottom:1px solid #FF0000;
	text-align: center;	
}

.reservationsHeadingsOptional {
	background-color: #f4f4f4 !important;
	color: #000;
	border: 0px;
	border-bottom:0px solid #FF0000 !important;
	text-align: center;	
}

.additionalReservations {
  background-color: $color-primary-evenRow;
  border: 1px solid #ffffff;
  margin-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.oddRow a {
  color: #b9bfbf;
}

.reservationsHeadings .optionalitems {
	color: #000000;
	font-size:12px;
	text-align: center;
}

.reservationsHeadings .optionalitemsHeading {
	color: #000000;
	background-color:#f7f7f7;
	font-size:12px;
	text-align: center;
}
.headCountItemAmount{
	font-size: 14px;
	font-family: $default-font-family;
	text-align:center !important;
}
.headCountItemTotalAmount{
	font-size: 14px;
	font-family: $default-font-family;
	text-align:center !important;
}
.optionalItemsAmount{
	font-size: 14px;
	font-family: $default-font-family;
	text-align:center !important;
}
.optionalTotalItemsAmount{
	font-size: 14px;
	font-family: $default-font-family;
	text-align:center !important;
}
.totalAmount{
	font-size: 14px;
	font-family: $default-font-family;
	text-align:center !important;
}
.grandTotalAmount{
	font-size: 14px;
	font-family: $default-font-family;
	text-align:center !important;
}
.totalCount{
	font-size: 14px;
	font-family: $default-font-family;
	text-align:center !important;
}
.totalLabel{
	font-size: 14px;
	font-family: $default-font-family;
}

#simplemodal-container {
  background-color: #ffffff;
  border: 3px solid #333467 !important;
  padding: 0 !important;
  top: 5% !important;
  width:70% !important;
}


#simplemodal-container a.modalCloseImg {
  background-color: red !important;
  background-image: url(../images/ui-icons_ffffff_256x240.png) !important;
  background-position: -96px -128px !important;
  cursor: pointer !important;
  display: inline !important;
  height: 17px !important;
  padding: 1px !important;
  position: absolute !important;
  right: 5px !important;
  top: 7px !important;
  width: 17px !important;
  z-index: 99999 !important;
}


.simplemodal-data {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.button, .form legend, .legend, .mini-menu {
  margin-top: 0px !important;
}

#question-count-show { 
	color: #FFF;
	font-family: $default-font-family;
	margin: 0;
	padding: 0; 
	font-weight:bold;
}
.QusetionAnswers {
	background-color: #f7f7f7;
	border-radius: 5px;
	margin: 10px 8px;
	padding: 5px; 
}

.questionSpan { 
	background:none !important;
	color: #585858 !important;
	font-family: $default-font-family;
	font-size: 12px !important;
	font-weight: bold !important;
	line-height: 32px !important;
	margin: 0 !important;
	padding: 0 !important;
}

.multiselectCheckBox {
  margin-right: 5px;
}

.singleselectCheckBox {
  margin-right: 5px;
}
.OptionalItemBox {
	width: 45%; 
	border-style:solid; 
	border-color: #b41419; 
	border-width: 5px; 
	background: white; 	
	text-align: left;
}

.waitingRow {
  background-color: #000000;
  color: #fff;
}

.cancelledRow {
  background-color: #c8c3c3;
  color: #000000;
}

#itineraryList{
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	box-shadow: 0 0 2px #888888;
	font-size: 14px;
	font-family: $default-font-family;
	height: 30px;
	outline: medium none;
	padding: 5px;
	width: 235px;
	margin-top: 6px;
	background:none !important;

}
/*** Reservation List CSS ***/


.tableHeader {
  background: $color-primary-darker !important;
  border-right: 1px solid #ffffff;
  color: #ffffff !important;
  padding: 10px;
  text-transform: uppercase;
}

.tableHeader a {
  color: #fff;
  display: block;
  font-family: $default-font-family;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.tableHeader a:hover {
	color: #ccc;
/* 	font-family: $default-font-family;
	font-size:12px; */
}

#sortTable23 .tableHeader a:hover {
  color: #ccc;
}

.oddRow {
  border: none;
  font-family: $default-font-family;
  font-size: 14px !important;
  text-transform: uppercase;
}


.UGuestStatusLabel {
  color: #b9bfbf;
  font-size: 16px !important;
  text-transform: uppercase !important;
}

.evenRow {
  border: medium none;
  font-family: $default-font-family;
  font-size: 14px;
  text-transform: uppercase;
}

.subheading {
  text-transform: uppercase;
}

.content {
/*   text-transform: uppercase; */
}

.evenRow a {
  color: #b9bfbf;
}

.boldWhite {
  color: #000;
  font-family: $default-font-family;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}



.tableNavigation {
	background-color: #A3A1A1;
	border-radius: 5px;
	box-shadow: 1px 1px 0 #FFFFFF;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 27px 5px 20px;
}

.WGuestStatus { /* Waiting Status */
  background-color: #FF8C73;
}

.WGuestStatusLabel { /* Waiting Status */
  color: #000000;
} 

.DGuestStatus {/* Cancelled Status */
  background-color: #c8c3c3;
  color: #000000;
}

.DGuestStatusLabel { /* Cancelled Status */
  color: #000;
}

.reservationTimeHeading {
	font-size: 14px;
	font-weight:bold;
	font-family: $default-font-family;
}

.bookFor {
	font-size: 14px;
	font-weight:bold;
	font-family: $default-font-family;
}

.reservationDaysHeading {
	font-size: 14px;
	font-weight:bold;
	font-family: $default-font-family;
	text-decoration: underline;
}

.reservationDaysOnHeading {
	font-size: 14px;
	font-family: $default-font-family;
}

.reservationListLink, .addCommentsSpan {
  color: #919292;
  cursor: pointer;
  display: inline-block;
  font-family: $default-font-family;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: right;
  text-transform: uppercase;
}

.guestTableHeadingSeparator {
	/*border-bottom: 1px solid #b9bfbf;*/
}

.ItemSelectionGuestHeading, .eventPortal_PopupHeading {
  background-color: #b9bfbf;
  color: #000;
  font-family: $default-font-family;
  font-size: 17px;
  font-weight: bold;
  padding: 3px 12px;
  text-transform: capitalize;
}

.ItemSelectionHeading {
	color: #000;
	font-family: $default-font-family;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-top: 10px;
}

.ItemSelectionLabel{
	color: #000;
	font-size: 14px;
	font-family: $default-font-family;
	font-weight: normal;
  	padding-bottom: 18px;
  	padding-left: 10px;
}
.ItemSelectionQTYField{
	font-size: 14px;
	font-family: $default-font-family;
	width: 35px;
	text-align: right;
	padding: 0px 5px 0px 0px !important;
	height: 28px;
	/*padding-right: 12px !important;*/ 
	background: none !important;
}
.GuestItemLabel {
	color: #202020;
	font-size: 12px;
	font-family: $default-font-family;
	font-weight: bold;
	margin-bottom: 0px !important;
	height:20px;
	text-align: left;
}
.GuestItemsDisplayTd{
}
.GuestItemsDisplayTd:HOVER{
	text-decoration: underline;
}

.ItemsHeader{
	cursor: pointer;
	text-decoration: underline;
}
.ItemsHeader:HOVER{
	color: royalblue;
}

.GuestRowSeparator{
border-bottom: dotted 1px;
border-bottom-color: #fff;
color: #000000 !important;
}

.DeleteReservationRow{
	background-color: #776364;
	color: #000;
}
.CustomCheckBox{
	background: transparent  url("../images/checkbox_unchecked.gif");
}

.MandatorySign{
	color:red;
}

.searialNumberTD{
	text-align: left !important;
	padding-left: 10px;
}

.addNewRow{
	position: absolute; 
	margin-left: -25px;
	background: transparent  url("../images/plus.png")  no-repeat;
	padding-left: 25px;
}

.eventReservationFont {
  font-family: $default-font-family;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.eventReservationFontBold {
  font-family: $default-font-family;
  font-size: 16px;
  letter-spacing: 0;
  margin-right: 5px;
  text-transform: capitalize;
}

.errorTextBox{
	border: 1px red solid !important;
}
.errorMessage{
	color:red;
}

.eventportal_CommentsTextBox{
	    width: 153px;
}

.eventPortal_reservationHeadingsTH{
color: #fff;
font-family: $default-font-family;
font-size: 14px;
/* text-align: left; */
text-transform: uppercase;
padding: 10px 0;
letter-spacing:1px;
}

.eventPortal_memberHeading {
	color: #fff;
	font-family: $default-font-family;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: left !important;
	text-transform: uppercase;
}

.multiSelectOptions LABEL {
  display: block;
  padding: 2px 5px;
  color: #000 !important;
}

.eventPortal_applybutton,.eventPortal_quetionFinishbutton, .eventPortal_quetionUpdatebutton,.eventPortal_waiverFinishbutton,
.newGuestButtonOk {
    background-color: #797a7a !important;
    border: medium none !important;
    color: white !important;
}

.eventPortal_cancelbutton, .eventPortal_quetionClosebutton,.eventPortal_waiverClosebutton,.newGuestButtonCancel  {
	background-color: red !important;
	border: medium none !important;
	color: white !important;
	font-family: $default-font-family;
}

.eventPortal_itemsPopupButtons, .eventPortal_questionsPopupButtons {
	padding-bottom:20px;
    margin-left: 10px;
    margin-top: 5px;
}

.eventPortal_waiverCountShow{
	float:right;
	margin-right: 35px;
}

.eventPortal_waiverTitle{
	float:left;
	text-decoration: underline;
}

.eventPortal_questionContent{
	border:1px solid #808080; 
	height:350px; 
	overflow-y: auto !important;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}

.eventPortal_reservationSchedule{
	padding: 5px;
}

.eventPortal_seatingId{
	height:18px;
}

#reservationSchedule.multiSelect {
	padding: 5px;
}

.eventPortal_Button {
  background-color: $color-primary-darker !important;
  border: medium none !important;
  border-radius: 0 !important;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  line-height: 1.42857;
  margin-bottom: 0;
/*   padding: 3px 9px; */
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 12px !important;
}
	
.epCloseButton{
	
}
.eventPortal_createReservationButton {
    background: $color-primary-darker !important;
    box-shadow: 0px 0px 2px #FFF, 0px 0px 1px #000 inset;
    color: #fff !important;
}
.eventPortal_ReservationListButton{
	
}

input.multiSelect {
  color: #000;
  font-weight: normal;
  font-size: 14px !important;
  text-transform: uppercase !important;
  font-family: $default-font-family;
}

#eventportal_typeTD input.multiSelect {
  background-color: #fff !important;
  color: #000;
}

#eventportal_typeTD input.multiSelect:hover {
  background-color: #fff !important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
/*   box-shadow: 0 0 5px #ccc inset !important;
  font-family: $default-font-family;
  font-size: 14px !important;
  height: 35px !important;
  text-transform: uppercase !important;
  width: 250px !important;
  letter-spacing:1px; */
}

input.multiSelect:hover {
  border: medium none !important;
  box-shadow: none !important;
}

input.button:hover {
  background-color: #000 !important;
  color: #fff !important;
}

.ui-menu .ui-menu-item a {
  color: #000 !important;
  font-size: 14px !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
}

.button.eventPortal_Button.epCloseButton {
  background-color: #a70e08 !important;
  color: #fff !important;
  padding: 5px;
}

input#reservationsList {
    padding: 5px;
}


#dAddNewGuestSpan0_1 span {
  color: #000;
  padding-left: 3px;
}

#NewStyle #sortTable23 .oddRow {
  border: 1px solid #eee;
  padding: 3px;
}

.MESSAGE {
  font-size: 13px !important;
  font-style: normal !important;
}

div#existingReservationAlert {
  height: auto !important;
  max-width: 450px;
  width: auto;
}


.eventPortal_Button:hover {
  background-color: #000 !important;
}

.button.eventPortal_Button.epCloseButton:hover {
  background-color: #000 !important;
}


input.btn.btn-info.epReservationListButton, input.button.textfieldsbt2 {
  background-color: #000 !important;
  border-radius: 0 !important;
  color: #fff !important;
  cursor: pointer !important;
  height: 30px;
}

input.btn.btn-info.epReservationListButton, input.button.textfieldsbt2 {
  height: auto !important;
  max-height: 30px;
}

#memberRuleMessage {
  font-family: $default-font-family;
}

#waiverDIV img {
  box-shadow: 0 0 0 !important;
  margin-bottom: 0 !important;
}

.eventContent {
  font-family: $default-font-family;
  font-size: 14px !important;
  letter-spacing: normal !important;
  line-height: 22px !important;
}

.eventContent > a {
  color: #a70e08 !important;
}

.eventDate {
  font-size: 14px !important;
  line-height: 22px !important;
}

.devicewidthinner td {
  font-family: $default-font-family;
  font-size: 14px !important;
  line-height: 22px !important;
}

.reservationsHeadings th {
	background-color: $primary-color;
	padding: 5px 0px 5px 4px;
}

a:hover {
  color: #a70e08;
  text-decoration: underline;
}

div#memberRuleDiv {
  background-color: #ffffff;
  font-family: $default-font-family;
  height: 150px;
  left: 50%;
  letter-spacing: 0;
  padding: 5px;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 380px;
  z-index: 10003;
}


#overRideBtNo {
  background-color: #a70e08 !important;
  background-image: none !important;
  color: #fff !important;
}


#overRideBtYes {
  background-color: #5B5652 !important;
  color: #fff !important;
}

#memberRuleDiv #messageType {
  background-color: black;
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
}

div#buttonsDIV {
    margin-right: 5px;
}


/* ----------- start 200px to 767px ----------- */
@media screen and (min-width: 200px) and (max-width:767px) {
	div#seatingAndReservationDetailDIV {
		margin: 10px !important;
	}
	
	#closeBtnDIV input#closeBtnInput {
		width: 100% !important;
		margin-right: 5px;
	}
	
	#seatingAndReservationDetailDIV .seatingTimeBg {
		max-width: 95%;
	}
	
	div#addNewGuestNamePopup, div#confirmationAlert {
		width: 350px !important;
	}
	
	.popoverContainerHeadCountItemOnTotal {
		width: 250px !important;
		left: 0;
		right: 0;
		margin: 0 auto !important;
	}

}
/* ----------- end 200px to 767px ----------- */

#addNewGuestNamePopup input#newGuestButtonCancel {
	margin-top: 10px;
}

#eventReservationQuestionForm .wizard.vertical > .actions {
    margin-top: 5px !important;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background: #a70e08;
}


.itemSelectionDIV {
  height: auto !important;
}
/* MT#0148098: Issues on Event Reservation screen on Sun City Lincoln Hills - UI End */
div#showModalDialogDiv {
  height: 650px !important;
}
input#Add_To_Cart, input#createButton, input#addToWaitListButton, input#reservationsList, input#closeButton{
  padding: 6px 12px !important;
  margin-bottom : 0px !important;
  margin-top : 0px !important;
}
td.commentsCol > input[type="text"]:only-child {
  color: #000;
  min-height: 28px !important;
  width: 98%;
  margin: 0;
}
input.btn-primary[value="Buy Tickets"], input.btn-warning[value="Close"] {
  margin: 0px !important;
}
#simplemodal-container a.modalCloseImg[title="Close"] {
  margin: 0px 5px 0px 0px !important;
  padding: 9px 8px !important;
}
div#simplemodal-container{
	max-width: 350px !important;
}
div#simplemodal-container input.buttonEM {
  border: none !important;
  border-radius: 3px !important;
  font-weight: 100 !important;
}
div#simplemodal-container input.quickPickButtonCancel {
	background-color:#f0ad4e !important;
}
div#simplemodal-container input.quickPickButtonOK {
	background-color:#151414 !important;
}
div#confirmationAlert input.buttonEM {
  border: none !important;
  border-radius: 3px !important;
  font-weight: 100 !important;
}
div#confirmationAlert input.ButtonEM[value="Confirm"] {
	background-color:#f0ad4e !important;
}
div#confirmationAlert input.ButtonEM[value="Cancel"] {
	background-color:#151414 !important;
}
button.ui-dialog-titlebar-close > span.ui-icon-closethick {
  padding: 0px !important;
  margin: -12px 0px 0px -8px !important;
}
/* .ui-widget-header > .ui-dialog-title {
  color: #000 !important;
  font-size: 14px !important;
  letter-spacing: 1px;
  font-weight: lighter;
} */

td.MESSAGE {
    display: block;
    margin: 0px auto !important;
    background-color: #dffec0;
    width: 98% !important;
    border-radius: 4px;
    border: 1px solid #c2e2a3;
    background-position-x: 6px;
    background-position-y: 7px;
    padding: 5px 0px 1px 30px !important;
}
div#confirmationAlert {
  height: auto;
  width: auto;
  max-width: 350px;
}
.smartphoneColWidth2 input.ysearchinput[type="text"] {
  width: 100% !important;
}



/* Shopping Cart Payment */
span.shop-spinner > input:first-child {
  width: 100% !important;
  float: left;
  margin: 0px 0 0px 0px !important;
  padding: 7px 20px !important;
}
span.shop-spinner {
  display: inline-block !important;
}
span.shop-spinner > a.ui-button-text-only {
  margin: 0px 0 25px 0px !important;
  padding: 0px !important;
  position: absolute;
}
/* span.shop-spinner > a.ui-button-text-only > span > span {
  top: 0 !important;
} */
span.shop-spinner > a.ui-button-text-only:last-child:nth-child(3) {
  top: 16px !important;
  padding: 0px !important;
}
span.shop-spinner > a.ui-button-text-only:last-child:nth-child(3) > span {
  margin: -5px 0px 0px -1px !important;
  position: relative;
}
label.ui-selectonemenu-label {
  display: block !important;
  margin: 0px !important;
}





.shop-desc-dialog .ui-dialog-content > .shop-box {
  width: 100% !important;
}
.shop-desc-dialog .ui-dialog-content > .shop-box img.cart-image {
  max-width: 300px;
  height: auto !important;
  width: 100%;
  margin: 0px 0px 5px;
}




@media screen and (max-width: 500px) {
	div#Add_To_Cart_DIV,input#Add_To_Cart,div#Update_To_Cart_DIV,input#Update_To_Cart,div#createButtonDIV,input#createButton,div#buttonsDIV,input#checkOUtButton {
	  width: 100%;
	  min-width: 100%;
	  margin-bottom: 2px !important;
	}
	input#closeButton {
	  width: 100%;
	}
	div#buttonsDIV {
	  float: none !important;
	  padding: 0px !important;
	}
}

th {
    text-align: center !important;
}