.rc-grid {
    padding: 0px;
}
.rc-grid {
    padding: 0;
}
.rc-label {
	margin-left: 3px;
}

.rc-min-label {
	margin-top: 15px;
}

.rc-tree {
	margin-left: -19px;
}

.ui-panel-title {
	text-shadow: none;
}

.rc-datatable th { /* 	padding: 0px !important; */
	/* 	    margin: 0px ; */
	/* 	    zoom: 1; */
	display: none;
}
.well {
    margin-bottom: 10px !important;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.info-bar-left {
    font-size: 13px;
}
.info-bar-right {
    font-size: 13px;
}
.rc-icon {
    margin-top: 3px;
}
}

