// ==========================================================================
// NS Connect Northstar UI Prime Faces Portlets
// ==========================================================================
//
// Table of Contents:
//
//  1. Global Background Colors
//  2. Typography
//  3. Buttons
//
//
//  Background Colors
//

/* Complete Webiste Font */
$default-font-family: "Lato-Regular" !default;
$seconday-font-family: "Lato-Light"   !default;
$treasurey-font-family:  "Lato-Bold" !default;

/* Font Color  */
$default-fontColor: #000 !default;
$Light-fontColor: #fff !default;
$dark-fontColor: $default-fontColor !default;;
$label-fontColor: $Light-fontColor !default; //Statment summary > Total Recent Payments , Current Amount Due , Total Recent Charges, Current Balance As Of Today


/* Webiste Core Color For NSUI */
$scotch-colors: (
  'primary': #0271c9,

);
@function scotch-color($key: 'primary') {
  @return map-get($scotch-colors, $key);
}
$color-primary: scotch-color('primary'); // #8e3329
$color-primary-darker: mix(white, $color-primary, 5%);
$color-primary-dark: mix(white, $color-primary, 10%);
$color-primary-medium: mix(white, $color-primary, 40%);
$color-primary-light: mix(white, $color-primary, 60%);
$color-primary-lighter: mix(white, $color-primary, 80%);
$color-primary-evenRow: mix(white, $color-primary, 90%);
$color-primary-oddRow: mix(white, $color-primary, 100%);

// For Buttons
$danger-bg: #bf1f11 !default;    //Cancel & Delete
$danger-bg-hover: #96342b !default;    //Cancel & Delete
$warning-bg: #bf1f11 !default;
$success-bg: $color-primary-dark !default; // Save & Update
$success-bg-hover: $color-primary-medium !default; // Save & Update

$primary-bg: $color-primary-darker !default;
$secondry-bg: $color-primary-dark !default; //Edit Button

$inverse-bg :$color-primary-medium !default;
$info-bg: $color-primary-light !default;
$print-bg: $color-primary-medium  !default;

$nextx-previous-bg: $color-primary-light !default;
$statement-bg: $color-primary-medium !default;    //Statement in-Active Tab
$statement-active:$color-primary-darker !default; //  Statement Active Tab
$statement-print: $color-primary-dark !default; // Next, Previous and
$statement-hover: $color-primary-lighter !default;
$stmt-file-text-icon: $color-primary-darker !default;

$makepayment-bg: $color-primary-darker !default;
$makepayment-hover : $color-primary-light !default;

$primary-color: $color-primary !default; //table header background color view statment , credit card, credit book

/* End */


$link-color: $secondry-bg !default;
$guest-captcha-bg: $warning-bg !default;


$disbaled-bg: gainsboro !default;
$disbaled-font-color:#566573 !default;

$border-color: #ccc !default;
$secondary-color: #ccc !default;

$background-light: #fff !default; // Page Bg
$background-light-hover: #eeeeee !default;
$background-dark: $primary-color !default; // Profile Heading Background,
$body-bg:  $background-dark !default;
$evenRow-bg: $background-light  !default;
$oddRow-bg: $background-light !default;
//  Alerts Fonts Size //
$alerts-font-size: 14px !default;

//  Typography //

$fontsize1: 30px !default;
$fontsize2: 22px !default;
$fontsize3: 16px !default;
$fontsize4: 15px !default;
$fontsize5: 14px !default;
$fontsize6: 12px !default;
$default-font-size: 16px !default;
$default-mobile-fontSize: 14px !default;

$teeSheetCourseHeading:$fontsize5 !default;
$chit-heading: 22px !default;
$type-fontweight: 400px !default;
$type-fontstyle :normal !default;
$type-lineheight: 25px !default;
$type-transform: uppercase !default;
$transparent: transparent !default;

$none: none !default;

$border-width: 1px !default;
$border-color: $secondry-bg !default;
$border-style: solid !default;
$border-radius: 1px !default;

$lineheight-normal: normal !default;
$textuppercase: uppercase !default;
@mixin border  {
    border: $border-width $border-style $border-color !important;
    border-radius: $border-radius !important;

}

$default-cursor: pointer !default;
$accrodian-heading: $fontsize3;
$default-boxShadow:  0 0 .1em rgba(0, 0, 0, 0.35) !default;

/* View Profile Icon Display */
$icon-display: none !default;



//  Accordion Color For Web Contents//
$accordiontitle: $fontsize3 !default;
$accordionbgcolor: $color-primary !default;
$accordionbordercolor: $color-primary-medium!default;
$accordionactivehover: $color-primary-dark !default;

// Header//
$headernavigationcolor: transparent;
$parentfontsize: 17px !default;
$linkpaddingtopbottom: 17px !default;
$linkpaddingrightleft: 20px !default;
/* Header Nav Drop Down */
$dropdowncolor: #0271c9 !default;
$dropdownsepline: #3792d9 !default;
$dropdownlinkclr: #fff !default;
$dropdownlinkclrhoverbg: #005395 !default;
$dropdownfontweight: 400 !default;
$dropdownlineheight: 20px !default;
$dropdownlpaddTopBottom: 7px !default;
$dropdownlpaddRightLeft: 10px !default;
$dropdownltextalign: left !default;
$dropdownwidth: 186px !default;

//Footer //
$footerbg: #484848 !default;
$footerfont: 14px !default;
$footermobilefont: 10px !default;
$footer-links: $Light-fontColor !default;


//Teesheet Background//
.teetime-webservice .ui-overlay-a, .teetime-webservice .ui-page-theme-a, .teetime-webservice .ui-page-theme-a .ui-panel-wrapper {
    background-color: $background-light !important;
   }
.teeTimeContent ul {
   background: $background-light !important; // Course Area BG and Border//
}



