 <div id="footer">
      <div class="container">
	  		<div class="row-fluid social-links text-center">
				<ul>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instragram</a></li>
					<li><a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
					<li><a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
					<li><a href="#"> <i class="fa fa-vimeo" aria-hidden="true"></i> Vimeo</a></li>
				</ul>
			</div><Br/>
            <div class="row-fluid footer-links text-center">
				<p>Copyright &copy; <script type="text/javascript">var year=new Date();document.write(year.getFullYear());</script>Northstar Club. All rights reserved.</p>
				<span class="powered-by">Powered by <a href="http://www.globalnorthstar.com" target="_blank">Northstar Techologies Inc.</span>
			</div>
			
         </div>
   </div>
   <!-- 
    <p>Copyright © 2017 West Bay Club. All Rights Reserved Powered by <a href="http://www.globalnorthstar.com/" target="_blank">Northstar Technologies Inc</a></p>    -->